name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "5 6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        coq_version:
          - "8.13"
          - dev
        ocaml_version: ["4.11-flambda"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: coq-community/docker-coq-action@v1
        with:
          opam_file: "coq-iris-bank-demo.opam"
          coq_version: ${{ matrix.coq_version }}
          ocaml_version: ${{ matrix.ocaml_version }}
          custom_script: |
            startGroup Add Iris repo
              opam repo add iris-dev https://gitlab.mpi-sws.org/iris/opam.git
            endGroup
            startGroup Print opam config
              opam config list; opam repo list; opam list
            endGroup
            startGroup Build dependencies
              opam pin add -n -y -k path $PACKAGE $WORKDIR
              opam update -y
              opam install -y -j 2 $PACKAGE --deps-only
            endGroup
            startGroup Build
              opam install -y -v -j 2 $PACKAGE
              opam list
            endGroup
            startGroup Uninstallation test
              opam remove $PACKAGE
            endGroup
